body {
    padding: 50px 0;
    background-color: rgba(255, 255, 67, 0.863);
}

.packImg img {
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .packImg img {
        width: 400px;
    }
}


@media only screen and (max-width: 576px) {
    .packImg img {
        width: 200px;
    }
}
.cursor {
    cursor: pointer;
}

.bg {
    background-color: rgba(81, 156, 218, 0.795);
    backdrop-filter: blur(5px)
    
}
p {
    font-weight: 500;
}

.card:hover img {
    transition: all .4s ease-in-out;
    transform: scale(1.2, 1.2);
}